@charset "UTF-8";

@font-face{
    font-family: "Maragsa" ;
    src: url('/estilos/fonte/Maragsâ-Display.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}
*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body, html{

    background-color: cornflowerblue;

}
h1{
    font-family: 'Maragsa';
    color: #3d1c94;
    font-size: 110px;
    font-weight: normal;
}

header{

    width: 100vw;
    height: 50px;
    background-color: aqua;
}

nav{

    display: flex;
    justify-content:space-around;
    
}

span{
    font-size: 13px;
}

main{
    background-color: white;
    width: 800px;
    height: 100vh;
   margin: auto;
}

section{

    background:rgb(115, 110, 167);
    width: 200px;
    height: 300px;
}

img{
    background-color: brown;
}

a{
    background-color: darkkhaki;
}


.container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    
}

footer{
    background-color: black;
    width: 100vw;
    height: 30px;
}
