@charset "UTF-8";

@font-face{
    font-family: "Maragsa" ;
    src: url('/estilos/fonte/Maragsâ-Display.otf') format(opentype);
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap');

*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
}

body, html{

    background-color: cornflowerblue;

}
h1{
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    color: #ffffff;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

header{

    width: 100vw;
    height: 50px;
    background-color:#101728;
}

nav{

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    color: #29EFD9;
    
}


#hamb{

    background-color: rgba(0, 0, 0, 0.697);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.cabeçalho{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.subtitulo{
    display: flex;
    flex-direction: column;
    font-size:1.3em;
    color: #29EFD9;
    align-items: center;
    background-color: #101728;
        
}


.container{

    display: flex;
    flex-direction: column-reverse;
    background-color: #101728;
    width: 90vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

.child1{

    background:#101728;
    width: 70vw;
    height: 20vh;
    flex-basis: 1;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1em;
    
}

.child2>img{
   
    flex-basis: 0;
    display: flex;
    padding: 0px;
    filter: drop-shadow(4px 5px 10px #1F41BB);
    
}


a{
    
    color: #ffffff;
}


footer{
    background-color: black;
    width: 100vw;
    height: 30px;
}
