@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap');


@media screen and (min-width: 75em) {


    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-family: 'Exo 2', sans-serif;
    }

    

        
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center;
    background-color: bisque;
}

.logo{
    display: flex;
    align-items: center;
    order: 0;
}

.logo > h1{
    color: rgb(14, 14, 14);
}

.navList {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.navList > ul{
    display: flex;
    order: 2;
    flex-direction: row;
    justify-content: center;
    list-style: none;

}

.navIten{
    margin: 0 15px;
}

.navLink{
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(4, 4, 4);
    
}

.sociais{
    display: flex;
    order: 3;
}

.botaoCelular{
    display: flex;
}

 .redesSociais {

    border: none;
    width: 40px;
    height: 40px;
    background-color: bisque;
    margin-right: 10px;
}

span#hamb{
    display: none;
}
}